.menuItem::after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menuItem:hover::after {
  transform: scaleX(1);
}
