@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00acd7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  border: 1px solid black;
  border: 0;
  border-top: 1px solid var(--primary-color);
  margin: 1rem 0;
}

h2 {
  text-wrap: balance;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  text-wrap: pretty;
  word-wrap: break-word;
}

@keyframes faidin {
  0% {
    opacity: 0;
    color: var(--primary-color);
  }

  50% {
    opacity: 0.5;
    color: rgb(151, 51, 51);
  }

  100% {
    opacity: 1;
  }
}

section div .section-left-header::after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

section div span:hover::after {
  transform: scaleX(1);
}

.box::after {
  height: 10vh;
  margin-top: 3rem;
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.box:hover::after {
  transform: scaleX(1);
}

.p-style {
  color: rgb(96, 96, 96);
  font-weight: 900;
}
